@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('/Infografia-1/src/img/fondomessi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Barra del dispositivo (hora, señal, batería) */
.device-bar {
    background-color: #171717;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.device-icons {
    display: flex;
    align-items: center;
    margin-right: 10vh;
}

.device-icons span {
    margin-right: 2vh;
}

/* Barra superior */
.top-bar {
    background-color: #333;
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 95%;
    position: fixed;
    top: 0;
    margin-left: 10vh;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-left: 30vh;
}

.chat-icon {
    margin-top: 25px;
    width: 180px;
    height: 60px;
    margin-right: 100vh;
}

.chat-title {
    font-size: 24px;
    font-weight: bold;
}

/* Barra lateral izquierda */
.left-bar {
    background-color: #171717;
    width: 300px;
    height: 100%;
    padding-top: 100px; /* Para evitar la superposición con la barra superior */
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left-bar-header {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #171717;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chat-list {
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    cursor: pointer;
    background-color: #262626;
    border-radius: 18px;
    margin-top: 2vh;
}

.chat-icon-small {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    margin-left: 1vh;
}

/* Contenedor principal del chat */
.chat-container {
    margin-left: 250px; /* Para evitar la superposición con la barra lateral */
    padding-top: 100px; /* Para evitar la superposición con la barra superior */
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.messages {
    margin-top: 10vh;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
}

/* Estilos de los mensajes */
.message {
    background-color: #262626;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15vh;
    align-self: flex-start;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    max-width: 600px;
}


.message:nth-child(odd) {
    background-color: #262626;
}

.message.bot {
    background-color: #555;
    width: fit-content;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Barra inferior fija */
.footer {
    bottom: 0;
    position: fixed;
    width: 176vh;
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #444;
    margin-left: 5.5vh;
}

.footer input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #555;
}

.footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.footer .emoji, .footer .attach, .footer .microphone {
    margin-right: 10px;
}

/* Estilo del reproductor de audio como burbuja de chat */
.audio-message {
    display: flex;
    align-items: center;
    background-color: #262626;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.audio-message img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.audio-message button {
    background-color: #262626;
    color: #262626;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.audio-message button:hover {
    background-color: #0056b3;
}

.audio-message #progress-bar {
    flex-grow: 1;
    cursor: pointer;
}

.audio-message #current-time, .audio-message #duration {
    font-size: 0.9em;
}

/* Estilo para la burbuja de escritura */
.typing-bubble {
    background-color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100px;
    position: relative;
    border-radius: 16px;
    padding-top: 20px;
    
}

/* Estilo para el indicador de escritura */
.typing-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    animation: dot-blink 1.4s infinite both;
}

@keyframes dot-blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
       /* Estilos adicionales */
       .selector-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .option-container {
        display: block;
        align-items: center;
        gap: 30px;
    }

/* Contenedor de las barras de progreso */
.progress-bar-container {
    position: relative;
    width: 350px;
    height: 20px;
    background-color: #e0e0e0; /* Color de fondo de la barra */
    margin-top: 5px;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    border-radius: 16px;
}

/* Barras de progreso */
.percentage-bar {
    height: 100%;
    background-color: #ffffff; /* Color blanco por defecto */
    border-radius: 16px;

    transition: width 0.5s ease-in-out; /* Transición suave para el cambio de ancho */
}

/* Barras de progreso para opciones específicas, cuando se selecciona */
.móvil:checked ~ .progress-bar-container .percentage-bar {
    background-color: #00FFF0; /* Verde para la opción "Móvil" */
    border-radius: 16px;

}

.otros:checked ~ .progress-bar-container .percentage-bar {
    background-color: #9747FF; /* Rojo para la opción "Otros" */
    border-radius: 16px;

}

/* Valor del porcentaje */
.percentage-value {
    position: absolute;
    right: 10px;
    top: 5vh;
    transform: translateY(-8vh);
    font-size: 20px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Título de los selectores */
.selector-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px; /* Ajusta según sea necesario */
    margin-bottom: 5px;
}

.selector-subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px; /* Ajusta según sea necesario */
    margin-bottom: 10px;
    color: #666; /* Ajusta el color según sea necesario */
}



    .circle-selector {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid #333; /* Añade un borde para hacerlos más visibles */
        transition: background-color 0.3s ease; /* Transición suave al cambiar de estado */
    }

    .circle-selector:hover {
        background-color: #aaa; /* Color de fondo al pasar el cursor */
    }

    h3{
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
    }


    .sticker {
        width: 200px; /* Ajusta el tamaño según sea necesario */
        height: auto;
        display: block;
        margin: 10px 0;
        background: transparent;
    }

    
    .sticker-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Espacio entre las imágenes, ajusta si es necesario */
        justify-content: center;
    }
    
    .sticker-container .sticker {
        width: 200px; /* Ajusta el tamaño de las imágenes según sea necesario */
        height: 200px; /* Ajusta el tamaño de las imágenes según sea necesario */
        object-fit: cover;
        background: transparent; /* Asegura que el fondo de las imágenes sea transparente */
    }


    .message-image {
        background-color: transparent;
    }

    

    
    
  
  label{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
  }

/* Estilo básico de los mensajes */
.message {
    background-color: #262626;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15vh;
    align-self: flex-start;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    max-width: 600px;
}


/* Estilo de los mensajes del usuario (lado derecho) */
.user-message {
    background-color: #4E07A9; /* Color de fondo para mensajes del usuario */
    color: #fff; /* Color del texto */
    margin-left: auto; /* Alinea el mensaje del usuario hacia la derecha */
    text-align: right; /* Alinea el texto dentro del mensaje a la derecha */
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    border-radius: 16px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    max-width: 300px; /* Limitar el ancho del mensaje */
    margin-bottom: 10px; /* Espacio entre mensajes */
}

/* Estilo de los mensajes del sistema (lado izquierdo) */
.message:not(.user-message) {
    float: left; /* Alinea los mensajes del sistema a la izquierda */
   

    margin-left: 20px;
    margin-bottom: 1vh;
}

/* Estilo del enlace */
.link-text {
    color: #00FFF0; /* Color para el enlace */
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none;
}

.link-text:hover {
    color: #9747FF; /* Color al pasar el mouse */
}
