@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('/Infografia-1/src/img/fondomessi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Barra del dispositivo (hora, señal, batería) */
.device-bar {
    background-color: #171717;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.device-icons {
    display: flex;
    align-items: center;
    margin-right: 10vh;
}

.device-icons span {
    margin-right: 2vh;
}

/* Barra superior */
.top-bar {
    background-color: #333;
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 95%;
    position: fixed;
    top: 0;
    margin-left: 10vh;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-left: 30vh;
}

.chat-icon {
    margin-top: 25px;
    width: 180px;
    height: 60px;
    margin-right: 100vh;
}

.chat-title {
    font-size: 24px;
    font-weight: bold;
}

.left-bar {
    background-color: #171717;
    width: 300px;
    height: 100%;
    padding-top: 100px; /* Para evitar la superposición con la barra superior */
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left-bar-header {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #171717;
}

.chat-list {
    padding: 20px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    cursor: pointer;
    background-color: #262626;
    border-radius: 18px;
    margin-top: 2vh;
}

.chat-icon-small {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    margin-left: 1vh;
}

/* Contenedor principal del chat */
.chat-container {
    margin-left: 250px; /* Para evitar la superposición con la barra lateral */
    padding-top: 100px; /* Para evitar la superposición con la barra superior */
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.messages {
    margin-top: 10vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

/* Estilos de los mensajes */
.message {
    background-color: #262626;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 15vh;
    align-self: flex-start;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    max-width: 600px;
}
.message.bot {
    background-color: #555;
    width: fit-content;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 176vh;
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #444;
    margin-left: 5.5vh;
}

.footer input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #555;
}

.footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

/* Estilo del reproductor de audio como burbuja de chat */
.audio-message {
    display: flex;
    align-items: center;
    background-color: #262626;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

/* Estilo para la burbuja de escritura */
.typing-bubble {
    background-color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100px;
    position: relative;
    border-radius: 16px;
    padding-top: 20px;
    margin-left: 10vh;
}

/* Estilo para el indicador de escritura */
.typing-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    animation: dot-blink 1.4s infinite both;
}

@keyframes dot-blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Ajustes para las imágenes en burbujas separadas */
.sticker {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    display: block;
    margin: 10px 0;
    background: transparent;
}

.sticker-container {
    background-color: #333; /* Fondo de la burbuja para las imágenes */
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio entre las burbujas */
    display: flex;
    justify-content: center;
    max-width: 350px;
    height: auto;
    margin-left: 10vh;
}

.sticker-container img {
    width: 330px;
    height: auto;
    border-radius: 5px; /* Bordes redondeados para las imágenes */
}

/* Estilo de los mensajes del usuario (lado derecho) */
.user-message {
    background-color: #007bff; /* Fondo azul para los mensajes del usuario */
    color: white;
    float: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    margin-right: 10px;
    max-width: 60%; /* Ajusta el ancho máximo */
}

/* Estilo de los mensajes del sistema (lado izquierdo) */
.message:not(.user-message) {
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    margin-left: 10vh;
    margin-bottom: 1vh;
}

/* Estilo del enlace */
.link-text {
    color: #00FFF0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.link-text:hover {
    color: #9747FF;
}


/* Burbuja de "escribiendo" */
.typing-bubble {
    background-color: #262626;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100px;
    border-radius: 16px;
}

.typing-indicator {
    display: flex;
}

.dot {
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    animation: dot-blink 1.4s infinite both;
}

@keyframes dot-blink {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Notificación */
.notification {
    margin-left: 70vh;
    
    font-size: 18px;
    font-weight: bold;
    background-color: #1D1D1D; /* Fondo oscuro */
    color: white;
    padding: 15px;
    
    position: fixed;
    top: -100px; /* Comienza fuera de la pantalla */
    left: 0;
    width: 40%;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    transition: top 0.5s ease-in-out; /* Transición para el deslizamiento */
    border-radius: 16px;
}

.notification.show {
    top: 0; /* Desliza la notificación hacia abajo */
    margin-top: 5vh;
}

.notification img {
    
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 65px;
    height: 65px;
    margin-left: 5vh;
}

.notification-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.notification-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;
}

.notification-subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    font-size: 24px;
    color: #ddd;
}


