.robote{
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 55vh;
    margin-top: 10vh;
    position: relative;
}

.alerta{
    position: absolute;
    margin-top: 10vh;
    margin-left: -10vh;
}


